/* Global setting */
/* 全局设定 */
body {
	line-height: 1.618em;
   margin: 15px;}

/* TOC link color */
/* 目录条目链接颜色 */
a {
	color: #0000CC;
}

/* TOC Title */
/* 目录标题 */
.kindle-cn-toc-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
	letter-spacing: 0em;
    text-align: center;
	border-bottom: 1.5px dotted #000000;
}

/* Level 1 TOC */
/* 一级标题 */
.kindle-cn-toc-level-1 {
    margin-left: 0em;
}

/* Level 2 TOC */
/* 二级标题 */
.kindle-cn-toc-level-2 {
    margin-left: 2em;
}

/* Level 3 TOC */
/* 三级标题 */
.kindle-cn-toc-level-3 {
    margin-left: 4em;
}

/* Level 4 TOC */
/* 四级标题 */
.kindle-cn-toc-level-4 {
    margin-left: 6em;
}

/* Level 5 TOC */
/* 五级标题 */
.kindle-cn-toc-level-5 {
    margin-left: 8em;
}

/* Level 6 TOC */
/* 六级标题 */
.kindle-cn-toc-level-6 {
    margin-left: 10em;
}
.kindle-cn-kai {
	font-family: STKai, "MKai PRC", Kai, "楷体";
}
img.kindle-cn-inline-character{
	width: 1.2em;
	vertical-align: middle;
}
.page-break
	{page-break-after:always}


/* 数学下标字体 */
span.math-sub {
	font-size: 0.7em;
	vertical-align: sub;
}

/** 斜体字 **/
span.kindle-cn-italic{
font-style: italic;
}
